.text {
  line-height: 50px;
  width: max-content;
  margin: 0 auto;
  margin-top: calc(50vh - 25px);
}

@media screen and (max-width: 480px) {
  .text {
    width: auto;
    text-align: center;
  }
}
