.button {
  background-color: #286562;
  border: 0px;
  border-radius: 4px;
  line-height: 35px;
  cursor: pointer;
  color: white;
}

.button:hover {
  background-color: #3b7e7b;
}

.button:active {
  background-color: #627f7e;
}

.button:disabled {
  background-color: grey;
}
