.container {
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.id {
  min-width: 40px;
  width: 5%;
}

.name {
  min-width: 72px;
  width: 15%;
}

.description {
  width: 65%;
}

.date {
  min-width: 120px;
  width: 15%;
}

@media screen and (max-width: 768px) {
  .description {
    display: none;
  }
  .id {
    width: 10%;
  }
  .name {
    width: 55%;
  }
  .date {
    width: 35%;
  }
}
