.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.content {
  position: absolute;
  padding: 0 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: clamp(200px, 84vw, 400px);
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.header {
  margin-top: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  padding: 0 30px;
}

.closeButtonIcon:hover {
  fill: #4d4d4d;
}

.closeButtonIcon:active {
  fill: #707070;
}

.closeButton {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.closeButton:hover {
  background-color: transparent;
}

.closeButton:active {
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .content {
    height: 250px;
  }
  .buttons {
    position: relative;
    flex-direction: column;
    height: 100px;
    margin-top: 50px;
  }
}
