.container {
  max-width: calc(40px + min(300px, 25vw));
  width: 100%;
  margin: 0;
  background-color: white;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  height: 350px;
  position: fixed;
  list-style-type: none;
  padding: 0;
  max-width: min(300px, 25vw);
  top: calc(50% - 175px);
}

.menuElement {
  margin-top: 20px;
}

.login {
  text-align: center;
}

.isAdmin {
  text-align: center;
}

.button {
  border: 1px solid grey;
  background-color: #e0f0e5;
  width: 100%;
  line-height: 48px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #f1f3f2;
}

.button:active {
  background-color: #d9dfdb;
}

.filter {
  --borders: 1px;
  --padding-left: 10px;
  width: calc(100% - var(--borders) * 2 - var(--padding-left));
  padding: 0 0 0 var(--padding-left);
  height: 48px;
  background-color: #f9f7f4;
  border: var(--borders) solid #f4f0e9;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.filter::placeholder {
  font-size: 14px;
}

.filter:hover {
  background-color: #f4f0e9;
}

.filter:focus {
  border-color: #a6a6a6;
  cursor: text;
}

.link {
  text-decoration: none;
  color: #286562;
}

@media screen and (max-width: 480px) {
  .container {
    display: none;
  }
}
