body {
  background-color: #f9f7f4;
}

.container {
  background-color: #f9f7f4;
  padding-top: 1px;
}

.title {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.endButton {
  margin: 75px 0;
  --width: 250px;
  width: var(--width);
  margin-left: calc(50% - var(--width) / 2);
}

.arrowButton {
  top: 0;
  position: fixed;
  height: 100%;
  background-color: transparent;
  width: min(20vw, 100px);
}

.arrowButton:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.arrowButton:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.rightButton {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.leftButton {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 480px) {
  .container {
    height: 90vh;
    border-bottom: 1px solid #000;
    overflow: auto scroll;
  }
  .endButton {
    position: fixed;
    bottom: 0;
    width: 34vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    margin: 0;
    left: 33vw;
  }
  .endButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
  .endButton:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .arrowButton {
    border-radius: 0px;
    height: 10vh;
    bottom: 0;
    top: auto;
    width: 33%;
  }
  .rightButton {
    border-bottom-left-radius: 0;
  }
  .leftButton {
    border-bottom-right-radius: 0;
  }
}
